name: CI-CD

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [ tpIntegrador ]
  pull_request:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # job to build the microservices
  build-microservices:
    name: Build microservices
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      # Install Java JDK with maven
      - name: Set up JDK 8
        uses: actions/setup-java@v2
        with:
          java-version: '8'
          distribution: 'adopt'
          cache: maven
      # Install java app dependences
      - name: Install java app dependences
        run: |
          cd tpIntegrador/example-voting-app-master/worker/
          mvn -B dependency:resolve 
      # Compile Worker application
      - name: Build with Maven
        run: |
          cd tpIntegrador/example-voting-app-master/worker/
          mvn -B package --file pom.xml
    
      # Install app.py dependences
      - name: Install python app dependences 
        run: |
          cd tpIntegrador/example-voting-app-master/vote/
          pip install -r requirements.txt

      # Install nodejs dependences
      - name: Install nodejs app dependences
        run: |
          cd tpIntegrador/example-voting-app-master/result/
          npm ci \
          && npm cache clean --force 

  # job to build and publish docker image
  build-and-push-docker-image:
    name: Build Docker image and push to repositories
    # run only when code is compiling 
    runs-on: ubuntu-latest

    # steps to perform in job
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      # setup Docker build action
      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      
      - name: Build worker image and push to Docker Hub
        uses: docker/build-push-action@v2
        with:
          # relative path to the place where source code with Dockerfile is located
          context: ./tpIntegrador/example-voting-app-master/worker/
          # Note: tags has to be all lower-case
          tags: juandubowez/worker:latest 
          # build on feature branches, push only on master branch
          push: ${{ github.ref == 'refs/heads/tpIntegrador' }}

      - name: Build vote image and push to Docker Hub
        uses: docker/build-push-action@v2
        with:
          # relative path to the place where source code with Dockerfile is located
          context: ./tpIntegrador/example-voting-app-master/vote/
          # Note: tags has to be all lower-case
          tags: juandubowez/vote:latest 
          # build on feature branches, push only on master branch
          push: ${{ github.ref == 'refs/heads/tpIntegrador' }}

      - name: Build result image and push to Docker Hub
        uses: docker/build-push-action@v2
        with:
          # relative path to the place where source code with Dockerfile is located
          context: ./tpIntegrador/example-voting-app-master/result/
          # Note: tags has to be all lower-case
          tags: juandubowez/result:latest 
          # build on feature branches, push only on master branch
          push: ${{ github.ref == 'refs/heads/tpIntegrador' }}


